<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Follower Count
    </mat-card-title>
  </mat-card-header>
  <mat-tab-group [selectedIndex]="selected.value" 
                 (selectedIndexChange)="changePeriod($event)"
                 animationDuration="0ms">
    <mat-tab label="Week"></mat-tab>
    <mat-tab label="Month"></mat-tab>
    <mat-tab label="Year"></mat-tab>
  </mat-tab-group>
  <div>
    <div style="display: block">
      <canvas baseChart
              height = "100"
              [datasets]="data"
              [labels]="labels"
              [options]="options"
              [legend]="legend"
              [chartType]="type">
      </canvas>
    </div>
  </div>
</mat-card>