<div class="main">

  
  
  <div *ngIf="!loggedIn; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <!-- <div style="top: 30%" (click)="login()" class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div> -->
    <button (click)="login()">login</button>
  </ng-template>
  
  
  <ng-template #elseBlock>
    <mat-grid-list gutterSize="0px" cols="4" rowHeight="200" >
      <mat-grid-tile [rowspan] = "1" [colspan] = "1">
        <img class="center-cropped" src="{{ pictureUrl }}" />
      </mat-grid-tile>
      <mat-grid-tile [rowspan] = "1" [colspan] = "3">
        <mat-list>
          <mat-list-item> <h1>{{ name }}</h1> </mat-list-item>
          <mat-list-item> <h2>{{ username }}</h2> </mat-list-item>
          <mat-list-item> <p>Followers: {{ followerCount }}     Following: {{ followingCount }}</p> </mat-list-item>
         </mat-list>
        
      </mat-grid-tile>
    </mat-grid-list>  
    
    

    <app-follower-card></app-follower-card>
    <app-online-card></app-online-card>
    
    
  </ng-template>
  
</div>